<fieldset>
  <legend>{{ text_sms_code_activation }}</legend>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-sms-code">{{ entry_sms_code }}</label>
    <div class="col-sm-4">
      <div class="input-group sms-code-btn">
        <input type="text" name="sms_code" value="{{ sms_code }}" placeholder="{{ entry_sms_code }}" id="input-sms-code" class="form-control" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">{{ text_send_code }}</button>
        </span>
      </div>
{#      {% if error_sms_code %}#}
{#        <div class="text-danger">{{ error_sms_code }}</div>#}
{#      {% endif %}#}
    </div>
  </div>
</fieldset>

<script>
  $('.sms-code-btn button').on('click', function () {
      let phone = $('input[name="telephone"]').val()
      $('.sms-code-info').remove()
      $('.sms-code-error').remove()

      if (phone) {
          $.ajax({
              url: 'index.php?route=extension/module/sms_nik/sendActivationCode&phone=' + phone,
              type: 'GET',
              beforeSend: function() {
                  // $('#recurring-description').html('');
              },
              success: function(json) {
                  $('.sms-code-btn').after(
                      '<p class="sms-code-info">' +
                      'Ваш код: ' + json['code'] + '.'+
                      'Смс отправлена по указанному номеру.' +
                      '<br>' +
                      '{{ text_sms_code_lifetime }}' +
                      '<br>' +
                      '{{ text_sms_code_timeout }}' +
                      '</p>'
                  )
              }
          });
      } else {
          $('.sms-code-btn').after(
              '<p class="sms-code-error text-danger">{{ error_no_phone }}</p>'
          )
      }
  })
</script>